[project]
	description = Java regular expressions made easy.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Demeter Gábor (gambe94)
[access "refs/for/refs/*"]
	read = group user/Demeter Gábor (gambe94)
	push = group user/Demeter Gábor (gambe94)
	label-Code-Review = -2..+2 group user/Demeter Gábor (gambe94)
	label-Verified = -1..+1 group user/Demeter Gábor (gambe94)
	rebase = group user/Demeter Gábor (gambe94)
	removeReviewer = group user/Demeter Gábor (gambe94)
	submit = group user/Demeter Gábor (gambe94)
[access "refs/heads/*"]
	read = group user/Demeter Gábor (gambe94)
	create = group user/Demeter Gábor (gambe94)
	push = +force group user/Demeter Gábor (gambe94)
	pushMerge = group user/Demeter Gábor (gambe94)
[access "refs/tags/*"]
	push = group user/Demeter Gábor (gambe94)
	push = +force group user/Demeter Gábor (gambe94)
